<div class="row">
	<div class="col-xs-offset-1 col-xs-11">
		<div class="form-group has-feedback" ng-class="workflow.input.class()">

			<label class="control-label" for="CommentComment">
				<span class="glyphicon glyphicon-comment"></span>
				{{messages.workflow_label}}
			</label>

			<div class="input textarea">
				<textarea id="CommentComment" rows="2" name="comment" autofocus="true"
							class="form-control nc-noresize"
							placeholder="{{workflow.input.placeholder()}}"
							ng-required="workflow.input.required()"
							ng-model="workflow.input.comment">

				</textarea>
			</div>

			<div class="form-control-feedback"
					ng-class="workflow.input.glyphicon()"
					ng-show="workflow.input.hasErrorTarget()">
			</div>

			<div class="help-block">
				<br ng-hide="workflow.input.showMessage()" />
				<div ng-show="workflow.input.showMessage()">
					{{messages.error_required}}
				</div>
			</div>
		</div>
	</div>
</div>
